<div class="jumbotron">
  <h1 class="display-4">Hello Welcome!</h1>
  <p class="lead">Create New Post:</p>
</div>

<form class="form new-blog-form">
  <div>
    <input class="form-input" type="text" id="blog-title" name="blog-title"/>
  </div>

  <div>
    <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-secondary">Create</button>
  </div>
</form>

{{#if blogs.length}}
<div class="blog-list">
  <span>Current Posts:</span>
  {{#each blogs as |blog|}}
  <div>
  <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>

<div class="mb-3">
    <button type="click" class="btn btn-secondary" data-id="{{blog.id}}">DELETE</button>
  </div>
  {{/each}}
</div>
{{/if}}
</div>
<script src="/js/dashboard.js"></script>